<%= form_for([:admin,@photo]) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :software_id %><br />
    <%= f.text_field :software_id %>
  </div>
  <div class="field">
    <%= f.label :photo_name %><br />
    <%= f.text_field :photo_name %>
  </div>
  <div class="field">
    <%= f.label :photo_type %><br />
    <%= f.text_field :photo_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
