<%= form_for([:admin,@downfile]) do |f| %>
  <% if @downfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@downfile.errors.count, "error") %> prohibited this downfile from being saved:</h2>

      <ul>
      <% @downfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :software_id %><br />
    <%= f.text_field :software_id %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :Platform %><br />
    <%= f.text_field :Platform %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
