<%= form_for([:admin, @software_type]) do |f| %>
  <% if @software_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software_type.errors.count, "error") %> prohibited this software_type from being saved:</h2>

      <ul>
      <% @software_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
